body {
	  color: #555555;
  	background-color:#ffffff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
	padding-top: 20px;
}
p {
	padding-bottom: 10px;
}
.navbar-header {
	padding-top: 10px;
}
footer {
	font-size: 14px;
	padding: 10px;
}
.logRes {
	margin-top: 20px;
	font-size: 14px;
}
#logRes {
	overflow: scroll;
	font-size: 14px;
}

@media (max-width: 767px) {
	body {
    font-size: 16px;
	}
	.navbar-header {
		padding: 12px 0 0 10px;
	}
}
